.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.sudokuBoard{
  margin: auto;
  /* width: 50%; */
  width:1000px;
  padding:100px;
  display: block;
  
}
.sudokuRow{
  float:left;
}
.sudokuCell{
  border: 1px solid black;
  font-size:40px;
  height:60px;
  width:60px;
  color:rgb(90, 90, 90);
  /* white-space:nowrap; */
  /* position:fixed; */
}


.selected{
  background-color: yellow 
}
.oddBlock{
  background-color: white
}
.evenBlock{
  background-color:rgb(214, 214, 214)
}
.invalid{
  background-color:lightcoral;
  /* color:green */
}
.modifiable{
  /* border: 1px solid green; */
  color:black
}
.possibleChoicesContainer select{
  overflow-y: auto;
  font-size:40px;
}
